.sf-debug {
  margin-top: 20px;
}

.SF_Submit {
  padding: 7px 12px;
  font-size: 15px;
  cursor: pointer;
  background: #337ab7;
  border: none;
  color: white;
}

.SF_TextInput-container,
.SF_IntInput-container {
  margin-bottom: 20px;
}

.SF_TextInput-container label,
.SF_IntInput-container label {
  display: block;
  margin-bottom: 3px;
  font-size: 0.85em;
  font-weight: 600;
  color: #484848;
}

.SF_TextInput-container input,
.SF_IntInput-container input {
  font-size: 1em;
  width: 100%;
  padding: 0.4em;
}

.sf-form-container input[type="submit"] {
  background: #9e9e9e;
  border: 1px solid #6f6969;
  color: white;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 0.9em;
  font-weight: 400;
}
