.SimpleForm_Debug {
  margin-top: 20px;
}

.SimpleForm_Submit {
  padding: 7px 12px;
  font-size: 15px;
  cursor: pointer;
  background: #337ab7;
  border: none;
  color: white;
}
.SimpleForm_Submit:disabled {
  opacity: 0.4;
}

.SimpleForm_ErrorMsg {
  color: #ec0000;
  font-size: 13px;
  margin-bottom: 3px;
}

.SimpleForm_TextInput-container,
.SimpleForm_IntInput-container,
.SimpleForm_TextArea-container,
.SimpleForm_Radio-container {
  margin-bottom: 20px;
}

.SimpleForm_TextInput-container label,
.SimpleForm_IntInput-container label,
.SimpleForm_TextArea-container label,
.SimpleForm_Radio-container > label {
  display: block;
  margin-bottom: 3px;
  font-size: 0.85em;
  font-weight: 600;
  color: #484848;
}

.SimpleForm_TextInput-container input,
.SimpleForm_IntInput-container input,
.SimpleForm_TextArea-container textarea {
  width: 100%;
  padding: 0.4em;
  font-size: 1em;
  border: 1px solid #cacaca;
}

.SimpleForm_Radio-label {
  font-size: 0.95em;
  margin-right: 10px;
}

.SimpleForm_Radio-label input {
  margin-right: 5px;
}
